site_name: elfshoe
site_description: Automated iPXE boot menu generation - where elves craft your network boot menus
site_author: Tim Hughes
repo_url: https://github.com/timhughes/elfshoe
repo_name: timhughes/elfshoe
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Reference: reference.md
  - For Contributors:
      - Contributing Guide: developer/contributing.md
      - Architecture: developer/architecture.md
      - Adding Distributions: developer/adding_distributions.md
      - Testing: developer/testing.md
      - Project Status: developer/project_status.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/timhughes
  version:
    provider: mike

copyright: Copyright &copy; 2024-2026 Tim Hughes
