name: Release

on:
  release:
    types: [published]

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/elfshoe
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install build tool
        run: python -m pip install --upgrade pip hatch

      - name: Run tests
        run: hatch run test

      - name: Build distributions
        run: make build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  deploy-docs:
    needs: publish-to-pypi
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required for gh-pages deployment
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install hatch
        run: python -m pip install --upgrade pip hatch

      - name: Build docs
        run: make docs-build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
